// color
$black: #11151C;
$white: #E7ECEF;
$shdwGray: #646464;
$pprWhite: #EEE;
$blue: #8DDBE0;
$drkBlue: #0047AB;


//Cards Variables//
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

// breakpoints
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;
$widthPrintPC: 1024px;

// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
