/*====================================================================
* Skills * ====================================================================*/

.skillSec {
  background: $pprWhite;
  padding: 10rem 5rem;

  &__inner {
    width: 100%;
    max-width: 144rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    gap: 3rem;
  }

  &__ttl {
    font-size: 9rem;
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: 3rem;
    margin-top: 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 2rem 1rem;

  }

  &__item {
    width: 100%;
    max-width: 10rem;
    list-style: none;
    padding: 1rem;
    border: 0.1rem solid $black;
    transition: 0.3s ease-in-out;
    cursor: default;

    &:hover {
      color: $white;
      background-color: $black;
      border: 0.1rem solid $white;
    }
  }

  &__dvdr {
    width: 100%;
    max-width: 70rem;
    height: 0.5rem;
    background-color: $black;
  }
}